<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
	</configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<akka>
		<hocon>
			<![CDATA[
			akka {
				suppress-json-serializer-warning = on,
				actor {
					deployment {
						/worker {
							router = round-robin-pool
							nr-of-instances = 100,
							mailbox = priority-mailbox
						}
					}
				}
			}
			priority-mailbox {
				mailbox-type : 'Concurrency.PriorotyMailbox, Concurrency'
			}
			]]>
		</hocon>
	</akka>
</configuration>